/* .add-product .upload-btn {
    border: 2px solid #9ae2f8;
    color: #15a8fd;
    max-width: 16rem;
  }
  
  .add-product .upload-btn:hover,
  .add-product .upload-btn:active {
    border: 2px solid #09f5fd !important;
    color: white;
    background: #09ccfd !important;
    border-radius: 0.25rem;
  }
  
  .add-product .submit-btn {
      width: 9rem;
      padding: .68rem 0;
  } */